<!DOCTYPE html>
html(lang="en")

head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{pageTitle}
    link(href="/main.css" rel="stylesheet")
    //- below snippet will get dynamically replaced
    block styles 

body
    header.main-header
        nav.main-header__nav
            ul.main-header__item-list
                li.main-header__item
                    a(class=(path==='shop' ? 'active' : ''), href="/") Shop
                li.main-header__item
                    a(class=(path==='admin/add-product' ? 'active' : ''), href="/admin/add") Add Product
    //- below snippet will get dynamically replaced
    block contents
